<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css">
<div class = "row">
    <div class="col-lg">

        <div class="title">
            <h2>Check Hotel Nearby SSB Center (Within 10 KM)</h2>
        </div>
        
        <div class="dropdown show">

            <span class="sub-title">SSB Center</span>

            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Please Select 
            </a>
          
            <span class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Selection Center East Allahabad (Prayagraj)</a>
              <a class="dropdown-item" href="#">Selection Center Central Bhopal</a>
              <a class="dropdown-item" href="#">Selection Center South Bangalore</a>
              <a class="dropdown-item" href="#">Selection Center North Kapurthala</a>
              <a class="dropdown-item" href="#">1 AFSB Dehradun</a>
              <a class="dropdown-item" href="#">2 AFSB Mysore</a>
              <a class="dropdown-item" href="#">3 AFSB Gandhinagar</a>
              <a class="dropdown-item" href="#">4 AFSB Varanasi</a>
              <a class="dropdown-item" href="#">NSB Coimbatore</a>
              <a class="dropdown-item" href="#">NSB Vishakhapatnam</a>
              <a class="dropdown-item" href="#">NSB Kolakata</a>
            </span>
          </div>

    </div>

    <div class="map-container" id="map"></div>


</div>