<section fxLayout="column" fxFlexAlign="stretch"> 
   <div class="section1 section-padding padding-90">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="img">
                    <img src="../../assets/img/home.jpg">
                </div>
            </div>

            <div class="col-md-5 text-section">
                <div class="text">
                    <span>About Company</span>
                    <h1>Searching of Paying Guest?</h1>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                </div>

                <button class=" button1 btn btn-danger" style="background-color: red;">Read More</button>
            </div>
        </div>
    </div>
   </div>
</section>

<section fxLayout="column" fxFlexAlign="stretch">

</section>
